<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Feel free to add a comments.</p>
  </div>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <%= source_helper("alert alert-info blog-sidebar-source") %>  

  <div class="sidebar-module">

    <div class="row"> <h4 class="col-sm-12">Elsewhere</h4></div>
    <ol class="list-unstyled social-links">
    <div class="row">
      <li><a href="#" class= "col-md-3"> <%= fa_icon "github" %> </a></li>
      <li><a href="#" class= "col-md-3"> <%= fa_icon "instagram" %></a></li>
      <li><a href="#" class= "col-md-3"><%= fa_icon "twitter" %></a></li>
      <li><a href="#" class= "col-md-3"><%= fa_icon "facebook" %></a></li>
    </div>  
   
    </ol>
  </div>
</div>